<br>
<div class="ui one column page grid">
  <div class="ui grid">
    <div class="row">
      <div class="six wide column"></div>
      <div class="eight wide column" style="margin-top: 20px;">
      <a class="ui teal icon huge button" href="/projects/new">Add New Project</a>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <table class="ui table segment">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Company</th>
            </tr>
          </thead>
          <tbody id="project-list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
