<div class="one column stackable ui grid">
  <div class="column aligned center" style="margin-top: 20px;">
    <a class="ui teal icon huge button" href="#projects/new"><i class="add icon"></i>Add New Project</a>
  </div>
  <div class="tablet only column">
    {{>project_table this}}
  </div>
  <div class="mobile only column">
    {{>project_table this}}
  </div>
  <div class="computer only three column row">
    <div class="column one wide"></div>
    <div class="column fourteen wide">
      {{> project_table this }}
    </div>
    <div class="column one wide"></div>
  </div>
</div>
