<div class="ui large two column page grid">
  <div class="column">
    <div class="vertical-menu">
      <div class="ui large menu vertical fluid icon">
        <a class="item">Projects</a>
        <a class="item">Sprints</a>
        <a class="item">Tasks</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div id="container"></div>
  </div>
</div>


