<div class="column three wide">
  <a class="active item" href="#projects">
    <div class="ui teal label">1</div>
    {{t 'project.title.other'}}
  </a>
  <a class="item" href="#sprints">
    <div class="ui label">51</div>
    Sprints
  </a>
  <a class="item" href="#tasks">
    <div class="ui label">1</div>
    Tasks
  </a>
  <a class="item" href="#dashboard">
    <div class="ui label">1</div>
    Dashboard
  </a>
</div>
