<div class="one column stackable ui grid">
  <div class="column two wide"></div>
  <div class="column twelve wide" style="margin-top: 20px;">
    <div id="chart"></div>
  </div>
  <div class="column two wide"></div>
</div>
