<div style="margin-top: 20px;"></div>
<div class="ui middle aligned page grid segment hero two column stackable">
  <div class="center aligned column">
    <div class="slogan">
      <p class="gamma">
      <span class="rotate"> Every Week</span>
      </p>
      <p class="gamma">I need to  </p>
      <p class="gamma">
      <span class="rotate">Delivery Value</span>
      </p>
    </div>
  </div>
  <div class="center aligned column">
    <div class="sixteen wide center aligned column">
      <div class="ui buttons">
        <div class="ui button orange massive">
          <i class="icon users"></i>
          <a href="#users/new">Sign up</a>
        </div>
        <div class="or"></div>
        <div class="ui positive button massive">Try it</div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 5%;"></div>

<div class="ui page one column middle aligned page grid sign-up">
  <div class="center aligned column">
    <div class="ui massive black button">
      <i class="icon github"></i>
      <a href="javascript:void(0);">Last Commit in Github</a>
    </div>
  </div>
</div>

<div style="margin-bottom: 5%;"></div>
<div class="section ui divider"></div>

<div class="two page column stackable ui grid">
  <div class="column center aligned">
    <header class="row">
      <div class="sixteen wide column">
        <div class="ui segment"><h1>Tasks List</h1></div>
      </div>
    </header>
    <div class="ui two items">
      <div class="item">
        <div class="content">
          <div class="meta">2 days ago</div>
          <div class="name">View Tasks</div>
          <p class="description">When I Sign In as example@example.com</p>
          <p class="description">Then Im on the home page, Then I should see Master Backbone within the tasks list</p>
          <p class="description">And I should see purchase "Building Backbone Plugins ebook" within the tasks lists </p>
        </div>
        <div class="extra">
          8 points
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="meta">5 days ago</div>
          <div class="name">Assigning a tasks to others</div>
          <p class="description">When I sign in as "cherry@example.com"</p>
          <p class="description">And I go to the tasks page</p>
          <p class="description">I create a task "process long queries in backgroud jobs" assigned to: Rafael Jesus</p>
        </div>
        <div class="extra">
          5 points
        </div>
      </div>
    </div>
  </div>
  <div class="column center aligned">
    <i class="tasks icon" style="font-size: 20em;"></i>
  </div>
</div>


<div style="margin-bottom: 100px;"></div>
<div class="section ui divider"></div>

<div class="two page column stackable ui grid">
  <div class="column center aligned">
    <div class="ui icon header">
      <div class="sub header big"><strong>Agile2Go </strong>makes it very easy to manage recurring reminders, and will notify you in time.</div>
    </div>
  </div>
  <div class="column center aligned">
    <i class="time icon" style="font-size: 20em;"></i>
  </div>
</div>

<div style="margin-bottom: 100px;"></div>
<div class="section ui divider"></div>

<div class="two page column stackable ui grid">
  <div class="column center aligned">
    <div class="ui icon header">
      <div class="sub header big"><strong>Agile2Go </strong> sends you an email each time you have to do something. Then, do it!</div>
    </div>
  </div>
  <div class="column center aligned">
    <i class="mail icon" style="font-size: 20em;"></i>
  </div>
</div>

<div style="margin-bottom: 100px;"></div>
<div class="section ui divider"></div>

<div class="two page column stackable ui grid">
  <div class="column center aligned">
    <div class="ui icon header">
      <div class="sub header big">Whenever you have done your task, tell us and we'll happily reschedule it for you again.</div>
    </div>
  </div>
  <div class="column center aligned">
    <i class="check icon" style="font-size: 20em;"></i>
  </div>
</div>

<div style="margin-bottom: 100px;"></div>
<div class="section ui divider"></div>

<div class="ui page one column middle aligned page grid sign-up">
  <div class="center aligned column">
    <div class="ui massive orange button">
      <i class="icon users"></i>
      <a href="#users/new">Sign Up Now</a>
    </div>
  </div>
</div>
