<div class="ui middle aligned page grid segment hero two column stackable" style="background-color: rgba(238,238,238,0.6)">
  <div class="center aligned column">
    <div class="slogan">
      <p class="gamma">
      <span class="rotate"> Every Week</span>
      </p>
      <p class="gamma">I need to  </p>
      <p class="gamma">
      <span class="rotate">Delivery Value</span>
      </p>
    </div>
  </div>
  <div class="center aligned column">
    <div class="sixteen wide center aligned column">
      <div class="ui buttons">
        <div class="ui button orange massive">
          <i class="icon users"></i>
          <a href="/users/new">Sign up</a>
        </div>
        <div class="or"></div>
        <div class="ui positive button massive">Try it</div>
      </div>
    </div>
  </div>
</div>

<div class="ui four column top aligned page grid feature-list stackable">
  <div class="center aligned column">
    <div class="ui icon header">
      <i class="tasks icon"></i>Task list
      <div class="sub header">Todo lists are old and boring, <strong>Agile2Go </strong>will change forever how you use your reminders!</div>
    </div>
  </div>
  <div class="center aligned column">
    <div class="ui icon header">
      <i class="time icon"></i>Cyclical
      <div class="sub header"><strong>Agile2Go </strong>makes it very easy to manage recurring reminders, and will notify you in time.</div>
    </div>
  </div>
  <div class="center aligned column">
    <div class="ui icon header">
      <i class="mail icon"></i>Mail notification
      <div class="sub header"><strong>Agile2Go </strong>sends you an email each time you have to do something. Then, do it!</div>
    </div>
  </div>
  <div class="center aligned column">
    <div class="ui icon header">
      <i class="check icon"></i>Confirm
      <div class="sub header">Whenever you have done your task, tell us and we'll happily reschedule it for you again.</div>
    </div>
  </div>
</div>

<div class="ui one column middle aligned page grid sign-up">
  <div class="center aligned column">
    <div class="ui massive orange button">
      <i class="icon users"></i>
      <a href="/users/new">Sign Up Now</a>
    </div>
  </div>
</div>
