<div id="projects"></div>
<!-- <script type="text/javascript"> -->
<!--   $(function(){ -->
<!--     new App.Routers.Projects(<%= @projects.to_json.html_safe -%>); -->
<!--   }); -->
<!-- </script> -->
