development:
  adapter: postgresql
  database: agile2go
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  database: agile2go
  pool: 5
  timeout: 5000
