<div class="ui one column page grid">
  <div class="ui grid">
    <header class="row">
    <div class="sixteen wide column">
      <div class="ui segment">
        <h1>Sign Up</h1>
      </div>
    </div>
    </header>
    <div class="row">
      <div class="sixteen wide column"></div>
      <div class="eight wide column">
        <div class="ui form segment">
          <form class="ui form segment">
            <div class="field">
              <label>Name</label>
              <div class="ui left labeled icon input">
                <input id="name" placeholder="Name" type="text">
                <i class="user icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div class="field">
              <label>Email</label>
              <div class="ui left labeled icon input">
                <input id="email" autofocus="autofocus" placeholder="Email" type="email">
                <i class="mail icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left labeled icon input">
                <input id="password" placeholder="Password" type="password">
                <i class="lock icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div class="field">
              <label for="password-confirmation">Password confirmation</label>
              <div class="ui left labeled icon input">
                <input id="password-confirmation"  placeholder="Password Confirmation" type="password">
                <i class="lock icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox">
                <label>I agree to the Terms and Conditions</label>
              </div>
            </div>
            <input class="ui orange submit button large right floated" name="commit" type="submit" value="Sign Up">
          </form>
          <div class="ui horizontal clearing divider">Or</div>
          <div class="ui fluid large facebook button">
            <i class="facebook icon"></i>
            Facebook
          </div>
          <div class="ui fluid large twitter button">
            <i class="twitter icon"></i>
            Twitter
          </div>
          <div class="ui fluid large google plus button">
            <i class="google plus icon"></i>
            Google
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
          <div class="row">
            <div class="sixteen wide column">
              <h1 class="delta">Alredy have an account?</h1>
              <p>We're happy you like Jarbaz so much, you may want to login!</p>
            </div>
          </div>
          <div class="row">
            <div class="sixteen wide center aligned column">
              <div class="ui teal button large">
                <a href="#sessions/new">Sign In</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
