<div class="ui one column page grid">
  <div class="ui grid">
    <div class="row">
      <div class="six wide column"></div>
      <div class="eight wide column" style="margin-top: 20px;">
        <a class="ui teal icon huge button" href="#tasks/new"><i class="add icon"></i>Add New Task</a>
      </div>
      <div class="sixteen wide column">
    </div>
  </div>
</div>
<div class="ui center aligned three column grid">
  <div id="items" class="row">
  </div>
</div>
