/*
 *= require_self
 *= require simpletextrotator
 *= require select2
 *= require_tree .
 */

@import 'semantic-ui';

body {
  background-color: rgba(238,238,238,0.6);
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.truncate {
  width: 100px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.dashboard {
  width: 100%;
  height: 800px;
}

.select2-input {
  width: 475px !important;
  margin: 5px 0 !important;
  background-color: #FFFFFF !important;
}

.edit-button {
  color: #00847e;
  text-decoration: none;
}

.ui.menu .brand i {
  font-size: 0.80em;
  opacity: 1;
  position: relative;
  left: -0.15em;
  top: -0.02em;
}

.slogan p {
  font-size: 42px;
  line-height: 50px;
  margin: auto auto 0em;
}

.slogan p span {
  color: #ff7038;
  font-weight: bold;
  font-size: 48px;
}

.ui.table td {
  padding: 0.5em 0.8em;
  vertical-align: middle;
}

.ui.menu .brand {
  font-size: 2.4rem;
}

.right.menu {
  padding: 10px;
}
