<div class="ui one column page grid">
  <div class="ui grid">
    <header class="row">
    <div class="sixteen wide column">
      <div class="ui segment">
        <h1>Sign In</h1>
      </div>
    </div>
    </header>
    <div class="row">
      <div class="sixteen wide column"></div>
      <div class="eight wide column">
        <div class="ui form segment">
          <form>
            <div class="field">
              <label>Email</label>
              <div class="ui left labeled icon input">
                <input autofocus="autofocus" name="user[email]" placeholder="Email" type="email">
                <i class="mail icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left labeled icon input">
                <input name="user[password]" placeholder="Password" type="password">
                <i class="lock icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
            <input class="ui orange submit button large right floated" name="commit" type="submit" value="Sign In">
          </form>
          <div class="ui horizontal clearing divider">Or</div>
          <div class="ui fluid large facebook button">
            <i class="facebook icon"></i>
            Facebook
          </div>
          <div class="ui fluid large twitter button">
            <i class="twitter icon"></i>
            Twitter
          </div>
          <div class="ui fluid large google plus button">
            <i class="google plus icon"></i>
            Google
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
          <div class="row">
            <div class="sixteen wide column">
              <h1 class="delta">No account yet? Register or try it now</h1>
              <p>Are you ready to have your menu in all languages you want, on the web and any smartphone? Sign up now to start receiving notifications! Don't want to register yet another account? You can try it!</p>
            </div>
          </div>
          <div class="row">
            <div class="sixteen wide center aligned column">
              <div class="ui buttons">
                <div class="ui button orange large">
                  <a href="/#/users/new">Sign Up</a>
                </div>
                <div class="or"></div>
                <div class="ui positive button large">Try it</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
