<div class="center aligned column">
  <div class="ui large black button">
    <i class="icon github"></i>
    <a href="{{ html_url }}" target="_blank">Last Commit {{ sha }}... {{ timeago committer.date  }} by {{ committer.name }}</a>
  </div>
</div>
