<div id="messages" class="ui one column page grid">
  <div id="messages" class="ui column">
    <div class="ui message large floating icon {{color}} %> ">
      <i class="ok sign {{color}} icon"></i>
      <div class="header">
        {{type}}
      </div>
      <p>{{message}}</p>
    </div>
  </div>
</div>
