<i class="close icon"></i>
<div class="header">
  Are you sure you want to remove {{ name }} ?
</div>
<div class="content">
  <div class="left">
    Be certain, sonny
  </div>
</div>
<div class="actions">
  <div class="ui button">Cancel</div>
  <div id="{{ id }}" href="javascript:void(0);" class="ui positive right labeled icon button delete">
    OK
    <i class="checkmark icon"></i>
  </div>
</div>
