<i class="close icon"></i>
<div class="header">
  Are you sure you want to remove {{ name }} ?
</div>
<div class="content">
  <div class="left">
    Be certain, sonny
  </div>
</div>
<div class="actions">
  <div class="ui button">Cancel</div>
  <div id="{{ id }}" href="#" class="ui positive right labeled icon button delete">OK</div>
</div>
