<footer class="ui inverted segment">
<div class="middle aligned column">
  <div class="ui grid">
    <div class="ten wide left aligned column copyright">Done with <i class="large heart icon"></i> by <a href="javascript:void(0);" target="_blank">Rafael Jesus</a> copyright — © 2014
    </div>
    <div class="four wide center aligned column social">
      <a href="http://www.linkedin.com/pub/rafael-da-silva-batista-jesus/31/139/240" target="_blank">
        <i class="large linkedin icon"></i>
      </a>
      <a href="https://www.facebook.com/rafael.d.jesus.3" target="_blank">
        <i class="large facebook icon"></i>
      </a>
      <a href="https://twitter.com/_jesus_rafael" target="_blank">
        <i class="large twitter icon"></i>
      </a>
      <a href="https://github.com/rafaeljesus/agile2go" target="_blank">
        <i class="large github alternate icon"></i>
      </a>
    </div>
  </div>
</div>
</footer>
