<footer class="ui inverted segment">
<div class="middle aligned column">
  <div class="ui grid">
    <div class="ten wide left aligned column copyright">Done with <i class="large heart icon"></i> by <a href="javascript:void(0);" target="_blank">crafting</a> copyright — © 2013
    </div>
    <div class="two wide center aligned column">
      <i class="large html5 icon"></i>
      <i class="large css3 icon"></i>
    </div>
    <div class="four wide center aligned column social">
      <a href="https://www.facebook.com/crafting">
        <i class="large facebook icon"></i>
      </a>
      <a href="https://twitter.com/crafting">
        <i class="large twitter icon"></i>
      </a>
      <a href="https://github.com/oncrafting">
        <i class="large github alternate icon"></i>
      </a>
    </div>
  </div>
</div>
</footer>
