<div class="ui large menu inverted">
  <div class="item">
    <div class="brand">
      <a href="/">Agile2G<i class="time icon"></i>
      </a>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="item">
      <div class="ui teal button">
        <i class="sign in icon"></i><%= link_to 'Sign In', '' %>
      </div>
    </div>
  </div>
</div>
